/* @import '~bootstrap/scss/bootstrap';
 */

body {
  padding-top: 5rem;
}

.start {
  padding: 3rem 1.5rem;
  text-align: center;
}

.form-control {
   margin-left: 10px;
}

.box {
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
box-sizing: border-box;
/* margin: 10px; */
padding: 10px;
background-color: #4d6db7;
border-radius: 8px;
margin-bottom: 5px;
margin-top: 5px;
padding-left: 20px;
}

.user-actions {
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
text-align: left;
box-sizing: border-box;
display: inline-block;
position: relative;
width: 100%;
padding: 25px 15px 25px 15px;
flex: 0 0 33.33333%;
max-width: 33.33333%;
background-color: #0bcda6;
border-radius: 8px;
color: #000000;
margin-bottom: 25px;
margin-top: 15px;
margin-left: 0;
}