body {
  padding-top: 5rem;
}
.start-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* @media (min-width: 768px) {
  body {
    background-color: $media-background;
  } */

  h1 {
    font-size: 90px;
    padding: 60px 80px 60px 40px;
  }
}
